{% block sw_cms_block_sohcahtoa %}
    <div class="sw-cms-block-sohcahtoa">
        sohcahtoa
        <slot name="content">{% block sw_cms_block_sohcahtoa_slot_content %}{% endblock %}</slot>
    </div>
{% endblock %}